conf/xml_layout.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- For instructions on how this is done, see
https://www.codesynthesis.com/projects/xsd/documentation/cxx/tree/guide/#2.1 -->

  <xs:complexType name="parameters_t">
    <xs:sequence>
      <xs:element name="greeting" type="xs:string"/>
      <xs:element name="name" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="parameters" type="parameters_t"/>

</xs:schema>